html, body {
    height: 100%;
    margin: 0
}

.margin-left-10{
    margin-left: 10px;
}

.btn-modal-light{
    height: 150px !important;
    width: 150px;
}

.room-card{
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top: 5px;
    margin-bottom: 0px;
}

.room-card-container{
    /*background-color: #BDBDBD;*/
    color: #FEFEFE;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 10px;
}

.card-fab{
    margin-left: 99%;
    margin-top: -33px;
}

#home{
    width: 100%;
}

#cam{
    background-color: #BADDFA;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
}

#cam_portail{
    transform: scale(-1,1);
    -webkit-transform: scale(-1,1);
    -moz-transform: scale(-1,1);
    -o-transform: scale(-1,1);
}

#alarm{
    margin-top: 25px;
    margin-bottom: 25px;
 }

#plex{
    width: 100%;
    height: 90%;
}

iframe{
    width: 100%;
    height: 100%;
}

h2{
    margin-left: 20px !important;
}

h4{
    margin-left: 40px !important;
}


#bordure_compteur{
    width:  500px;
    height: 500px;
    border-radius:300px;
    padding-top: 50px;
    background-color : #2196F2;
    margin: auto;
}

#compteur{
    width:  400px;
    height: 400px;
    line-height:400px;
    font-size:80px;
    border-radius:300px;
    background-color : #F4F4F4;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#alarme_off{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 600px;
}

.img_sun{
    width: 70px;
    height: 35px;
    display: block;
}

.calc_btn{
    width:  100px;
    height: 100px;
    font-size:40px;
    border-style: none;
    background-color : #BBBBBB;
}

#calc_resultat{
    width:  300px;
    height: 50px;
    font-size:40px;
}

#button_valider{
    width:  60px;
    height: 60px;
    border-radius:50px;
    font-size:40px;
    background-color : green;
    border-style: none;
}

#clavier{
    width: 40%;
    margin: auto;
}

.touche_clavier{
    width: 30%;
    height: 100px !important;
    font-size: 4em !important;
    margin-bottom: 5px;
}

#calc_resultat{
    width: 60.6%;
}

.button_room{
    width: 100%;
    margin-bottom: 5px;
}

.sub_button_room_3, .sub_button_room_3_center{
    width: 30%;
    margin-bottom: 15px;
}

.sub_button_room_3_center{
    margin-right: 4.8%;
    margin-left:  4.8%;
}

.sub_button_room_2, .sub_button_room_2_left{
    width: 48%;
    margin-bottom: 15px;
}

.sub_button_room_2_left{
    margin-right: 4%;
}

.h5_room{
    width: 85%;
    margin-right: 0px;
    font-size: 1.64rem;
    display: inline-block;
    margin-bottom: 25px;
}

.affichage_temp{
    width: 15%;
    font-size: 1.5rem;
    display: inline-block;
    text-align: right;
}